
.rte-editor{
    border: 1px solid #959595;
    padding: 8px 8px 20px 8px;
    border-radius: 20px;
}
.rte-editor.read-only{
    border: none;
    padding: 0px;
    border-radius: 0px;
}
.rte-editor-body{
    padding-top: 20px;
}
.rte-editor-body.read-only{
    padding: 0px;
}
blockquote {
    border-left: 2px solid #0071f3;
    padding-left: 24px;
    line-height: 1.6;
    margin: 24px 0;
}

.rte-pre {
    background-color: #959595;
    font-family: 'Courier New', Courier, monospace;
    margin: 2px 0px;
    width: fit-content;

}

.rte-pre span {
    color: black !important;
}

.rte-paragraph {
    margin: 4px 0px;
}
