::marker {
    color: inherit;
    font-size: inherit;
}

blockquote {
    border-left: 2px solid #0071f3;
    padding-left: 24px;
    line-height: 1.6;
    margin: 24px 0;
}

.rte-pre {
    background-color: #959595;
    font-family: 'Courier New', Courier, monospace;
    margin: 2px 0px;

}

.rte-pre span {
    color: black !important;
}

.rte-paragraph {
    margin: 4px 0px;
}