.rte-marker-list{
    display: flex;
    gap: 8px;
}

.rte-marker-list .rte-marker-item:not(:first-child) {
    /* border-left:1px solid red; */
}


.rte-toolbar-btn{
    height: 20px;
    width: 20px;
}

.rte-marker-item img{
    filter: invert(58%) sepia(6%) saturate(0%) hue-rotate(196deg) brightness(103%) contrast(86%);
}
.rte-marker-item.active img{
    filter: invert(40%) sepia(58%) saturate(2609%) hue-rotate(320deg) brightness(96%) contrast(94%);
}

.rte-toolbar{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; 
    display: flex;
    gap: 8px;
    flex-wrap: nowrap;
    height: 20px;
    align-items: center;
}

.parent-heading-picker {
    position: relative;
}

.heading-picker-main {}

.heading-picker-content {
    display: none;
}


.parent-heading-picker:hover .heading-picker-content{
    display: flex;
    flex-direction: column;
}
