.parent-color-picker {
    position: relative;
}

.color-picker-main {}

.color-picker-content {
    display: none;
}

/* .color-picker-main:hover {
    background-color: gray !important;
} */

.parent-color-picker:hover .color-picker-content{
    display: flex;
}
